#input-field {
    border-color: blue;
;
  }
  
  input {
    width: 460px;
    margin-bottom: 1%;
    margin-left: 8%;
    
   
    
  }
  .input-container {
    display: flex;
    align-items: end;
   margin-bottom: 1%;
  }
  
  .link-icon {
    width: 25px;
    margin-left: 4px;
  }
  .input-whats {
    display: flex;
    align-items: center;
  }
  
  .input-whats input {
    width: 300px;
    height: 14px;
    flex: 1;
  }
  
  .input-whats button {
    background-color:rgb(56, 218, 56);
    width: 50px;
    height: 19px;
    margin-left: 10px;
    margin-bottom:22px ;
    cursor: pointer;
    
  }
  