#input-field {
    border-color: blue;
;
  }
  
  input {
    width: 350px;
    margin-bottom: 1%;
    
  }
  .input-container {
    display: flex;
    align-items: end;
   margin-bottom: 1%;
  }
  
  .link-icon {
    width: 25px;
    margin-left: 4px;
  }
  